header {
    /* background-color: yellow; */
    width: 100%;
    text-align: center;
    color: $colorTitle;
    margin-bottom: 1rem;
    h1 {
        font-size: 3.75rem;
        font-weight: 200;
    }
    h2 {
        font-size: 1.875rem;
        font-weight: 600;
    }
}